/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap';

/* Conthrax Font */
@font-face {
    font-family: 'conthrax-sb';
    font-display: swap;
    src: url('/assets/fonts/ConthraxSb-Regular.woff2') format('woff2');
}